
# unreal engine
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Build/

# Visual Studio
.vs/
bin/
obj/
x64/
Debug/
Release/
packages/
*.user
*.suo
*.log
# VS IntelliSense files
*.ncb
*.sdf
*.ipch

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS generated
.DS_Store
Thumbs.db